[advisories]
version = 2
unmaintained = "workspace"
yanked = "deny"

[licenses]
version = 2
allow = [
    "MIT",
    "Apache-2.0",
    "Unlicense",
    "Unicode-3.0",
]
confidence-threshold = 0.92
exceptions = [
]

[bans]
multiple-versions = "warn"
wildcards = "allow"
# Certain crates have been replaced by others, and we want to consolidate
# on the new versions
skip = [
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []