name: cargo-deny
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  cargo-deny:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install cargo-deny
        run: cargo install cargo-deny
      - name: Check licenses and vulnerabilities
        run: cargo deny check
